.offcanvas .cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
}

.offcanvas .cart-img{
    width: 75px;
    margin-right: 10px;
}

.offcanvas .cart-price{
    display: none;
}

.offcanvas .view-cart{
    width: 100%;
    position: fixed;
    bottom: 0;
}


.offcanvas .total-cart-container{
    display: none;
}

.offcanvas-body{
    padding: 0;
}

.offcanvas-body .cart{
    padding: 0 15px;
}