.offcanvas .cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
}

.offcanvas .cart-img{
    width: 75px;
    margin-right: 10px;
}

.offcanvas .cart-price{
    display: none;
}

.offcanvas .view-cart{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.offcanvas .view-cart a{
    margin: 0 0 20px 20px;
}