.navbar{
    font-family: "Space Grotesk", sans-serif;
    background-color:var(--primary);
}

.navbar-nav a{
    color: black;
    padding-right: 15px !important;
    transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover{
    color: var(--primary);
}

.navbar-nav .active{
    color: var(--primary) !important;
}