.navbar{
    font-family: "Space Grotesk", sans-serif;
    background-color:var(--primary);
}

.navbar-nav a{
    color: black;
    padding-right: 15px !important;
    transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover{
    color: var(--primary);
}

.navbar-nav .active{
    color: var(--primary) !important;
}

.navbar .cart-btn{
    position: relative;
}

.navbar .item-count{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: smaller;
    background: var(--primary);
    height: 20px;
    width: 20px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    left: 70%;
}