.item-container{
    transition: 500ms;
}

.item-container:hover{
    background-color: #e0e0e0 !important;
}

.item-container .new-price{
    font-size: 18px;
    font-weight: bold;
}

.item-container .old-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #434343;
}

.item-container .card-title{
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .item-container .card-title{
        font-size: 12px;
    }
  }