.item-container{
    transition: 500ms;
}

.card:hover{
    box-shadow: 4px 4px 5px #ccc;
}

.item-container .new-price{
    font-size: 18px;
    font-weight: bold;
}

.item-container .old-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #434343;
}

.item-container .card-title{
    font-size: 16px;
}

.item-container .price-container{
    display: flex;
    gap: 10px;
}

.item-container .cart-btn-container{
    align-self: flex-end;
}

/* .item-container .cart-btn-container button {
font-size: 12px;
} */

@media only screen and (max-width: 600px) {
    .item-container .card-title{
        font-size: 12px;
    }
  }