footer{
    padding: 20px 0;
}

footer p{
    margin: 0;
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.footer-list a{
    padding-right: 50px;
    padding-bottom: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    color: inherit;
}

.icon-container a {
    margin: 0 1rem;
    font-size: 1.5rem;
    transition: color 0.2s ease-in-out;
    color: inherit;
}

/* .footer-list a:hover, .icon-container a:hover {
    color: var(--primary);
} */

.copyright {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    bottom: 0;
}

.copyright a {
    color: #D61212;
    text-decoration: none;
}