.footer-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.footer-list a{
    padding-right: 50px;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;

}

.icon-container a {
    margin: 0 1rem;
    color: black;
    font-size: 1.5rem;
    transition: color 0.2s ease-in-out;
}

.footer-list a:hover, .icon-container a:hover {
    color: var(--primary);
}

.copyright {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    bottom: 0;
}

.copyright a {
    color: #D61212;
    text-decoration: none;
}