.product-details {
    background-color: #e3e3e3;
    padding: 20px;
    text-align: justify;
}

.product-details .container {
    background-color: #fff;
    padding: 40px;
}

.product-details .old_price{
    text-decoration: line-through;
    font-size: 16px;
    color: #4e4e4e;
}

.product-details .new_price{
    color: var(--primary);
    font-size: 24px;
    font-weight: 600;
    padding-right: 25px;
}